@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    /* slate-800 */
    --foreground: 217 33% 17%;

    /* slate-100 */
    --muted: 210 40% 96.1%;
    /* slate-200 */
    --muted-hover: 214.3 31.8% 91.4%;
    /* slate-500 */
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    /* slate-50 */
    --popover-hover: 210 40% 98%;
    /* slate-800, from 950 */
    --popover-foreground: 217 33% 17%;

    --card: 0 0% 100%;
    /* slate-50 */
    --card-hover: 210 40% 98%;
    /* slate-800, from 950 */
    --card-foreground: 217 33% 17%;

    /* indigo-600 */
    --primary: 243 75% 59%;
    /* indigo-700 */
    --primary-hover: 243 58% 51%;
    /* indigo-100 */
    --primary-light: 226 100% 94%;
    /* indigo-50 */
    --primary-foreground: 226 100% 97%;

    /* slate-100 */
    --secondary: 210 40% 96.1%;
    /* slate-200 */
    --secondary-hover: 214.3 31.8% 91.4%;
    /* slate-800, from 900 */
    --secondary-foreground: 217 33% 17%;

    --success: 142 71% 45%;
    --success-hover: 142 76% 36%;
    /* slate-50 */
    --success-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 72% 51%;
    /* slate-50 */
    --destructive-foreground: 210 40% 98%;

    /* slate-200 */
    --border: 214.3 31.8% 91.4%;
    /* slate-300 */
    --border-hover: 214.3 31.8% 91.4%;
    /* slate-200 */
    --input: 214.3 31.8% 91.4%;
    /* slate-300 */
    --input-hover: 214.3 31.8% 91.4%;

    --ring: 243 75% 59%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}